.footer {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  @include flexPosition(space-around);
  padding: 5rem 0;
  border-top: 0.1rem solid color(primary);

  @include response(lg) {
    flex-wrap: wrap;
  }
}

.footer-nav {
  @include footerList;
}

.contact-list {
  @include footerList;
}

.contact {
  @include response(lg) {
    padding: 0 10rem;
    order: 1;
    margin-top: 4rem;
  }

  &-heading {
    font-size: size(xl);
    color: color(primary);
    text-align: center;

    @include response(md) {
      font-size: size(lg);
    }
  }

  &-paragraph {
    font-size: size(lg);
    margin: 1rem 0;
    text-align: center;

    @include response(md) {
      font-size: size(md);
    }
  }

  .inputs-group {
    display: flex;
    justify-content: center;

    input {
      padding: 1rem;
      font-size: size(xs);
      margin: 1rem 0.5rem;
      border: 0.1rem solid darken(color(primary), 10%);
      border-radius: 0.3rem;
      outline: none;
      transition: border 0.5s;

      &:focus:not([type="submit"]) {
        border: 0.1rem solid darken(color(quaternary), 30%);
      }
    }

    &-text {
      width: 50%;
    }

    &-email {
      width: 60%;
    }

    &-btn {
      width: 40%;
      color: color(secondary);
      background-color: lighten(color(primary), 20%);
      transition: background-color 0.2s;
      cursor: pointer;

      &:hover {
        background-color: color(primary);
      }
    }
  }

  .social-icons {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;

    &-item {
      list-style: none;
    }

    &-link {
      text-decoration: none;
      width: 4rem;
      height: 4rem;
      border: 0.1rem solid color(primary);
      border-radius: 100%;
      @include flexPosition;

      @include response(sm) {
        width: 3rem;
        height: 3rem;
      }

      i {
        font-size: size(md);

        @include response(sm) {
          font-size: size(sm);
        }
      }
    }
  }
}

$socialMediaColors: 1 #3b5998, 2 #b31217, 3 #dc4e41, 4 #55acee, 5 #517fa4,
  6 #0077b5;

@each $color in $socialMediaColors {
  .social-icons-item:nth-child(#{nth($color, 1)}) .social-icons-link {
    color: nth($color, 2);
    border: 0.1rem solid nth($color, 2);
  }
}
