.products {
  grid-column: 1 / -1;
  grid-row: 3 / 4;

  &-heading {
    margin: 5rem 0;

    &-text {
      text-align: center;
      font-size: size(lg) + 2rem;
      font-weight: 300;
      color: color(primary);
    }
  }

  &-wrapper {
    @include flexPosition;
  }
}

.product {
  position: relative;

  &:hover .product-description {
    opacity: 1;
    visibility: visible;
  }

  &:hover .product-img {
    opacity: 0.5;
  }

  &-img {
    width: 100%;
    transition: all 1s 0.5s ease-in-out;
  }

  &-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparentize(color(secondary), 0.4);
    padding: 2rem;
    border: 0.1rem solid color(primary);
    border-radius: 0.5rem;
    color: color(primary);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all 1s 0.5s ease-in-out;

    @include response(lg) {
      padding: 1rem;
    }

    @include response(sm) {
      background-color: transparent;
      border: none;
    }

    &-heading {
      font-size: size(xl);

      @include response(lg) {
        font-size: size(md);
      }

      @include response(sm) {
        display: none;
      }
    }

    &-price {
      font-size: size(lg);
      font-weight: 300;
      margin: 1rem 0;

      @include response(lg) {
        font-size: size(sm);
      }

      @include response(sm) {
        display: none;
      }

      span {
        font-weight: 600;
      }
    }

    &-btn {
      font-size: size(xs);
      text-decoration: none;
      color: color(quaternary);
      display: block;
      padding: 0.5rem 1rem;
      border: 0.1rem solid color(quaternary);
      background-color: lighten(color(primary), 20%);

      @include response(lg) {
        padding: 0.2rem 0.5rem;
      }

      @include response(sm) {
        padding: 0.5rem 0.7rem;
        width: 7rem;
      }
    }
  }
}

.products-btn {
  @include flexPosition;
}
