$font-primary: "Josefin Sans", sans-serif;
$font-secondary: "Great Vibes", cursive;

$colors: (
  primary: #333,
  secondary: #ffe,
  tertiary: #f2f0f1,
  quaternary: #f5b149
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$font-sizes: (
  xl: 3rem,
  lg: 2.5rem,
  md: 2rem,
  sm: 1.8rem,
  xs: 1.6rem
);

@function size($size) {
  @return map-get($font-sizes, $size);
}
